[submodule "thirdparty/openvino_tokenizers"]
    path = thirdparty/openvino_tokenizers
    url = https://github.com/openvinotoolkit/openvino_tokenizers.git
[submodule "thirdparty/llama.cpp"]
	path = thirdparty/llama.cpp
	url = https://github.com/mvafin/llama.cpp.git
	branch = ov-frontend-swap
